*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#07121d;
}

.motor-page{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#06131f,#0b2d50,#1565c0);
overflow:hidden;
position:relative;

}

.background{

position:absolute;
width:200%;
height:200%;
background-image:
radial-gradient(circle,#00c3ff22 2px,transparent 2px);
background-size:70px 70px;
animation:move 18s linear infinite;

}

@keyframes move{

0%{
transform:translate(0,0);
}

100%{
transform:translate(-120px,-120px);
}

}

.motor-card{

position:relative;
width:500px;
padding:45px;
border-radius:25px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(18px);
border:1px solid rgba(255,255,255,.2);
box-shadow:0 20px 45px rgba(0,0,0,.5);
text-align:center;
color:white;
z-index:2;

}

.logo{

width:95px;
height:95px;
margin:auto;
border-radius:50%;
background:linear-gradient(135deg,#00c6ff,#0072ff);
display:flex;
justify-content:center;
align-items:center;
font-size:48px;
box-shadow:0 0 30px #00bfff;

}

.motor-card h1{

margin-top:20px;
font-size:30px;

}

.subtitle{

margin-top:8px;
margin-bottom:30px;
color:#cfe7ff;

}

.status-box{

padding:25px;
border-radius:18px;
background:rgba(255,255,255,.08);

}

.status-box h3{

margin-bottom:15px;

}

.indicator{

width:28px;
height:28px;
border-radius:50%;
margin:15px auto;

}

.on{

background:#00ff66;
box-shadow:0 0 20px #00ff66;
animation:pulse 1s infinite;

}

.off{

background:#ff3b30;
box-shadow:0 0 20px #ff3b30;

}

@keyframes pulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.3);
}

100%{
transform:scale(1);
}

}

.green{

color:#00ff66;
margin-top:10px;

}

.red{

color:#ff5252;
margin-top:10px;

}

.loading-area{

margin-top:25px;

}

.loader{

width:60px;
height:60px;
border:6px solid rgba(255,255,255,.2);
border-top:6px solid #00d4ff;
border-radius:50%;
margin:auto;
animation:spin 1s linear infinite;

}

@keyframes spin{

100%{
transform:rotate(360deg);
}

}

.loading-area p{

margin-top:15px;
font-size:18px;

}

.loading-area span{

color:#c8dfff;
font-size:14px;

}

button{

margin-top:35px;
width:100%;
padding:16px;
font-size:18px;
font-weight:bold;
border:none;
border-radius:15px;
cursor:pointer;
transition:.3s;

}

.on-btn{

background:linear-gradient(90deg,#00c853,#00e676);
color:white;

}

.off-btn{

background:linear-gradient(90deg,#d50000,#ff5252);
color:white;

}

button:hover{

transform:translateY(-3px);
box-shadow:0 0 20px rgba(255,255,255,.4);

}

@media(max-width:600px){

.motor-card{

width:92%;
padding:30px;

}

.motor-card h1{

font-size:24px;

}

}